/*Adding CSS for Registration Page.*/
body {
  background-color: #50504d;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 13px;
  color: #2d2d2d;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
  width: 100%;
  background-color: #2d2d2d;
  border: 0;
  padding: 1rem;
  margin-bottom: 1rem;
}

input[type="submit"] {
  margin-top: 10px;
}

html {
  background-color: 44442;
  padding: 50px;
}

form {
  font-family:Arial;
  width: 300px;
  margin: 0 auto;
  background-color: #444442;
  padding: 2rem;
  box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.25);
  border-top: 5px solid rgb(82, 17, 167);
}

.myButton {
  border: 0;
	background-color:#4e099c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
}

